<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjC0A8vSXsd9B69sn5hgv5JPbjvCWjBd8</string>
	<key>GCM_SENDER_ID</key>
	<string>843975042663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flixidApp</string>
	<key>PROJECT_ID</key>
	<string>flixid-movies</string>
	<key>STORAGE_BUCKET</key>
	<string>flixid-movies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843975042663:ios:be6ca9bf11a7af49af96c2</string>
</dict>
</plist>